@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@500;700&display=swap');

body{
margin:0;
min-height:100vh;
 
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

color: #333333;
font-family: 'Raleway';
font-style: normal;
}

header{
  width:100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
}

main{
  width:100%;
  margin-top:101px;
  margin-bottom:93px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-weight: 700;
  font-size: 36px;
}

h2{
  font-weight: 700;
font-size: 24px;
}
button:hover{
cursor: pointer;
}
.title-box{
  height:42px;
  width:43%;
  max-width:614px;
  margin-bottom:70px;
}

.random-icon{
  vertical-align: middle;
}

#random-button{
  margin-top: 31px;
  margin-right: 7%;
  background: none;
  border:none;
  color: #4F4F4F;
  font-weight: 500;
 font-size: 18px;
}

.quote-container{
  margin:0;
  padding:0;
  max-width:830px;
  width:58%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-box{
  padding:0;
  padding-left:12%;
  padding-right:12%;
  margin-top:70px;
  margin-bottom:70px;
  font-weight: 500;
  font-size: 36px;
  border-left: 8px solid #F7DF94; 
}

.quote-box > p{
  padding:0;
  margin:0;
}

.author-box{
  width: 47%;
  max-width:672px;
  height: 151px;
  margin-top:40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  text-align: left;
  background: none;
  border:none;
}

.author-box:hover{
  background: #333333;
  color: #F2F2F2;
  transition: all 0.3s;
}

.author-box >div >p{
  color: #828282;
}

.arrow-icon{
  font-size:40px;
}

footer{
width: 100%;
text-align: center;
font-family: 'Montserrat';
}

footer em{
  font-style: normal;
  font-weight: bold;
}



