@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@700&display=swap');


footer{
width: 100%;
text-align: center;
}

footer em{
  font-style: normal;
  font-weight: bold;
}

